<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>

  {% if site.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}
  <meta charset="UTF-8">

  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="/assets/css/style.css">

  <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [['$','$'], ['\\(','\\)']],
          processEscapes: true
        }
      });
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    type="text/javascript"></script>

  <style>
    body {
      margin: 0;
      padding: 0
    }

    .container {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;

      border: 2px dashed rgba(255, 255, 255, 0);
      height: 100%;
      background: rgba(255, 255, 255, 0);
    }

    .sticky {
      position: -webkit-sticky;
      position: sticky;
      top: 20px;
    }

    ol {
      counter-reset: item;
      margin-top: 0px;
      padding-left: 12px;
    }

    ol.toc {
      counter-reset: item;
      margin-top: 0px;
      padding-left: 12px;
    }

    ol.toc>li {
      display: block;
      margin-top: 0px;
      padding-left: 12px;
    }

    ol.toc>li:before {
      content: counters(item, ".")" ";
      counter-increment: item
    }

    b {
      margin: 0px;
      margin-bottom: 0px
    }
  </style>

</head>

<body>

  <header class="page-headerb" role="banner">
    <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline
      }}</h2>
    {% if site.github.is_project_page %}
    <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
    {% endif %}
    {% if site.show_downloads %}
    <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
    <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
    {% endif %}
  </header>

  <div class="wrap" style="margin: auto;width: 100%;">
    <div style="margin-left: 0px;width: 20%;">
      <br />
      <div class="container">
        <div class="item sticky">
          <ol class='toc'>
            <li><a href= />Introduction</a></li>
            <li><a href=/News>News</a></li>
            <li><a href=/Background>Background</a></li>
            <li><a href=/IOHalgorithm>IOHalgorithm</a>
            <li><a href=/IOHproblem>IOHproblem</a>
              <ol class='toc'>
                    <li><a href=/IOHproblem/PBO>PBO</a></li>
              </ol>

            <li><a href=/IOHdata>IOHdata</a>
            <li><a href=/IOHexp>IOHexperimenter</a>
              <!-- <ol class='toc'> -->
                <!-- <li><a href=/IOHexp/Cpp />C++ interface</a> -->
                  <!-- <ol class='toc'>
                    <li><a href=/IOHexp/Cpp/#using-individual-problems>Testing problems</a></li>
                    <li><a href=/IOHexp/Cpp/#using-logger>Using loggers</a></li>
                    <li><a href=/IOHexp/Cpp/#using-exp>Configuring experiment</a></li>
                  </ol> -->
                <!-- </li> -->
                <!-- <li><a href=/IOHexp/python />Python interface</a></li> -->
                <!-- <li><a href=/IOHexp/R />R interface</a></li> -->
                <!-- <li><a href=/IOHexp/extension/>Extension</a>
                  <ol class='toc'>
                    <li><a href=/IOHexp/extension/#adding-new-problems>Adding new problems</a></li>
                    <li><a href=/IOHexp/extension/#adding-new-loggers>Adding new loggers</a></li>
                    <li><a href=/IOHexp/extension/#adding-new-transformations>Adding new transformations</a></li>
                    <li><a href=/IOHexp/extension/#adding-new-suites>Adding new suites</a></li>
                  </ol>
                </li> -->
              <!-- </ol> -->
            </li>
            <li><a href=/IOHanalyzer>IOHanalyzer</a>
              <ol class='toc'>
                <li><a href=/IOHanalyzer/data />Data format</a>
                  <ol class='toc'>
                    <li><a href="/IOHanalyzer/data/#meta-data">Meta data</a></li>
                    <li><a href="/IOHanalyzer/data/#raw-data">Raw data</a></li>
                    <!-- <li><a href="/IOHanalyzer/GUI/#fixed-target">Fixed-budget Results</a></li> -->
                  </ol>
                </li>
                <li><a href=/IOHanalyzer/GUI />Graphical User Interface</a>
                  <ol class='toc'>
                    <li><a href="/IOHanalyzer/GUI/#loading-data">Data loading</a></li>
                    <li><a href="/IOHanalyzer/GUI/#fixed-target">Fixed-target results</a></li>
                    <!-- <li><a href="/IOHanalyzer/GUI/#fixed-target">Fixed-budget Results</a></li> -->
                  </ol>
                </li>
                <li><a href=/IOHanalyzer/R />R programming interface</a></li>
              </ol>
            </li>
            <li><a href=/citation>References</a></li>
            <li><a href=/license>License</a></li>
            <li><a href=/feedback>Feedback and suggestions</a></li>
            <li><a href=/team>Development team</a></li>
            <li><a href=/Acknowledgments>Acknowledgments</a>
          </ol>
        </div>
      </div>
    </div>

    <div class="mid">
      <main id="content" class="main-content" role="main">
        <div class="main">
          {{ content }}
      </main>
    </div>

    <div id='wrapper' style="margin-right: 40px;width: 15%;">
      <br />
      <div class="container">
        <div class="item sticky">
          <p>
            <b style="font-size:22px;">Links</b><br>
            <a href=https://github.com/IOHprofiler>GitHub Page</a><br>
            <a href="mailto: iohprofiler@liacs.leidenuniv.nl">Email us</a>
            <br><br>
            <b style="font-size:22px">License</b><br>
            <a href=/license>BSD 3-Clause</a>
            <br><br>
            <b style="font-size:22px">Cite us</b><br>
            <a href=/citation>Citing IOHprofiler</a>
            <br><br>
            <b style="font-size:22px">Developers</b><br>
            <a href=https://www.universiteitleiden.nl/en/staffmembers/diederick-vermetten>Diederick Vermetten</a></br>
            <a href=https://www.universiteitleiden.nl/en/staffmembers/jacob-de-nobel>Jacob de Nobel</a><br />
            <a href=https://www.universiteitleiden.nl/en/staffmembers/furong-ye>Furong Ye</a><br />
            <a href=https://www.universiteitleiden.nl/en/staffmembers/hao-wang>Hao Wang</a><br />
            <a href=https://ofersh.github.io/telhai>Ofer M. Shir</a><br />
            <a href=http://www-ia.lip6.fr/~doerr />Carola Doerr</a><br />
            <a href=https://www.universiteitleiden.nl/en/staffmembers/thomas-back>Thomas Bäck</a><br />
          </p>
          <img src=/assets/fig/Leiden.png height="60" /><br>
          <img src=/assets/fig/sorbonne.jpeg height="60" /><br>
          <img src=/assets/fig/cnrs.gif height="60" /><br>
          <img src=/assets/fig/tel-hai.png height="60" /><br>
        </div>
      </div>
    </div>
  </div>

  <footer class="site-footer">
    {% if site.github.is_project_page %}
    <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is
      maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
    {% endif %}
    <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub
        Pages</a>.</span>
  </footer>
</body>

</html>