<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>

    <header class="page-headerb" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>
    <div class="wrap">
      <div class="left">
        <div id="menu" class="main-menu" >
        <a href=/>About</a><br>
        <a href=/IOHexperimenter>IOHexperimenter</a><br>
        <!--<a href=/IOHexperimenter/Preparation/>Preparation</a>
        <a href=/IOHexperimenter/Cpp/>Benchmarking using C++</a> <br> 
        <a href=/IOHexperimenter/R/>Benchmarking using R</a> <br> 
        <a href=/IOHexperimenter/Adding-Functions/>Adding new Functions / Suites</a><br> -->

        <a href=/IOHanalyzer(Post-Processing)>IOHanalyzer</a> <br>
        <!-- <a href=/IOHanalyzer(Post-Processing)/ProgrammingInterface/>Programming Interface</a><br> 
        <a href=/IOHanalyzer(Post-Processing)/GraphicUserInterface/>Graphic User Interface</a><br> 
        <a href=/IOHanalyzer(Post-Processing)/dataformat/>Supported Data Format</a><br> -->
        <a href=/News>News</a><br> 
        <a href=/Benchmark>Benchmark</a><br> 

        </div>
      </div>
      <div class="mid">

        <main id="content" class="main-content" role="main" >
        
          <div class="main">
          {{ content }} 

          
        </main>
      </div>
      <div class="right">
        <div id = "side-bar", class="side-bar">
        <h3>Links</h3>
        IOHexperimenter: <a href=https://github.com/IOHprofiler/IOHexperimenter>https://github.com/IOHprofiler/IOHexperimenter</a> <br>
        IOHanalyzer: <a href=http://iohprofiler.liacs.nl/>http://iohprofiler.liacs.nl/</a> <br>
        <h3>Ciatiation</h3> <a href=https://dblp.uni-trier.de/rec/bibtex/journals/corr/abs-1810-05281> Citing eaf</a> <br>
        <h3>Developers</h3>
        <a href=https://www.universiteitleiden.nl/en/staffmembers/hao-wang#tab-1> Hao Wang </a>(IOHanalyzer) <br>
        Diederick Vermetten (IOHanalyzer) <br>
        <a href= https://www.universiteitleiden.nl/en/staffmembers/furong-ye#tab-1> Furong Ye  </a> (IOHexperimenter) <br>
        <a href= http://www-ia.lip6.fr/~doerr/> Carola Doerr  </a><br>
        <a href= https://ofersh.github.io/telhai/> Ofer Shir  </a><br>
        <a href= https://www.universiteitleiden.nl/en/staffmembers/thomas-back#tab-1> Thomas Bäck  </a><br>
        <br>
        <img src=/assets/fig/Leiden.png height="50"/><br>
        <img src=/assets/fig/cnrs.gif height="50"/><br>
        <img src=/assets/fig/sorbonne.jpeg height="50"/><br>
        <img src=/assets/fig/tel-hai.png height="50"/><br>
        </div>
      </div>

    </div>

    <footer class="site-footer">
            {% if site.github.is_project_page %}
              <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
            {% endif %}
            <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
    </footer>
  </body>
</html>